<div class="outer">
  <div>
    <h1>Calvin Bonner</h1>

    <i>Software & Web Developer</i>
  </div>

  <ul>
    <li>
      <a href="tel:616.552.3988">616.552.3988</a>
    </li>
    <li>
      <a href="mailto:me@calvinbonner.com">me@calvinbonner.com</a>
    </li>
    <li>
      <a href="https://www.calvinbonner.dev">www.calvinbonner.dev</a>
    </li>
  </ul>
</div>

<style>
  .outer {
    display: grid;
    grid-template-columns: 1fr auto;
  }
</style>
