---
import FrameLayout from '@layouts/FrameLayout.astro';
import { Title } from '@components/title';
import { getCollection } from 'astro:content';
import Data from '@assets/md/experience.mdx';

const pages = await getCollection('experience');

const url = Astro.url.pathname;
---

<FrameLayout>
  <title slot="head">Calvin Bonner // Experience</title>

  <Title slot="title" parts={{ '~': '/', experience: '/experience' }} />

  <Data />

  <ul>
    {
    pages
      .sort((a, b) => b.data.date.localeCompare(a.data.date))
      .map((page) => (
        <li>
          <a href=`${url}/${page.id}`>{page.data.title}</a>

          <em>({page.data.date})</em>
        </li>
      ))
    }
  </ul>

  <br /><br />

  Or, view my <a href="/experience/resume">printable resume</a>.
</FrameLayout>
