---
import onCleanup
---

<div></div>

<style>
  div {
    position: fixed;
    transition: box-shadow ease-in-out 10s;
    box-shadow: inset 0 -5dvh max(10dvw, 10dvh)
      rgba(from var(--blue) r g b / 0.15);
    background-color: var(--crust);
    width: 100dvw;
    height: 100dvh;
  }
</style>
